.site-title {
    font-size: 38px;
    font-weight: 700;
    margin-left: 10px;
}

.site-description {
    margin-left: 65px;
}

.adsb-fi {
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 96px;
    font-weight: 700;
}
