<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">description</i>
                    </div>                    
                </div>
                <div class="card-body">
                    <div class="row" style="padding-top:20px">
                        <div class="col-md-5">
                            <fa-icon [icon]="faDownload" class="fa-lg"></fa-icon>&nbsp;
                            <a href="#">Download</a>
                        </div>
                    </div>
                    <div class="row" style="padding-top:20px">
                        <div id="timeline">
                            <div class="timeline-item">
                                <div class="timeline-icon">
                                    <img src="assets/img/timeline_star.svg" alt="">
                                </div>
                                <div class="timeline-content">
                                    <h4>Fortress Investment Group LLC</h4>
                                    <p>
                                        
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-icon">
                                    <img src="assets/img/timeline_star.svg" alt="">
                                </div>
                                <div class="timeline-content right">
                                    <h4>BNP Paribas</h4>
                                    <p>
                                        Senior Software Engineer for the NY fixed income back office settlement system.
                                        -	Implemented second generation of message based trade router that accepted trades from various sources and routed to subscribers. (C#, .NET 4.0, WCF)
                                        -	Developed trade router’s real-time monitoring and management UI. (WCF, WPF)
                                        -	Introduced best practices in unit testing, build and release management.
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-icon">
                                    <img src="assets/img/timeline_star.svg" alt="">
                                </div>
                                <div class="timeline-content">
                                    <h4>Markman Advisors LLC</h4>
                                    <p>
                                        As a Senior Software Engineer in partnership with Markman Advisors LLC designed and developed near real-time litigation alert system (LitigationAlpha) that allows investors to anticipate stock price reaction to litigation events.
                                        -	Implemented near real-time litigation alert tracker (C#, .NET 4.5, Azure Cloud Services, Entity Framework 6.0, SQL)
                                        -	Developed end user subscription and monitoring UI (ASP.NET MVC, .NET 4.5, Azure Web Sites, SQL)
                                        -	Developed maintenance and backup processes for the system.
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-icon">
                                    <img src="assets/img/timeline_star.svg" alt="">
                                </div>
                                <div class="timeline-content right">
                                    <h4>Ipreo LLC</h4>
                                    <p>
                                        Senior Software Engineer / Tech Lead for the new-issuance Equity Book Build trading application<br />
                                        -	Delivered multiple releases of the Equity Book Build trading application, including a major bulge bracket client implementations<br />
                                        -	Developed core business front- and back-end modules such as Master Book, Sales Worksheet, Operations Worksheet, Joint Books and Revenues/Expenses using ASP.NET, C#/C++, Silverlight, COM+ and SQL<br />
                                        -	Designed and developed trade and sales credit processing flows, integration with proprietary client trading platforms and third-party vendors (WCF, IBM MQ, FTP)<br />
                                        -	Implemented many application framework level enhancements including OM generics support, IL-injection for DAC layer, globalization support, security and current context support using DI pattern that lead to significant performance, usability and maintainability improvements<br />
                                        -	Refactored several modules using .NET technologies (C#, ASP.NET, Web API, .NET Interop, LINQ) highly improving front- and back-end application performance<br />
                                        -	Developed application administrative, test and data collection tools (WPF)
                                        -	Drove team adoption of the latest .NET versions, technologies and libraries
                                        -	Worked with architecture team on constant improvement application security based on OWASP and external audit security recommendations
                                        -	Managed a distributed team of the 10 developers (onshore and offshore teams)
                                        -	Responsible for full SDLC of the application
                                        -	Involved in all stages of requirements analysis and application design
                                        -	Defined development and testing guidelines
                                        -	Provided immediate production response and fast problem solutions

                                        Senior Software Engineer for the new generation of roadshow & event management system (iPlanner)
                                        -	Designed and developed the application ORM framework used by the application and successfully adopted later by multiple company teams
                                        -	Developed first version of the application using C#, ASP.NET, MS SQL, including inbound and outbound client integration
                                        -	Later as a subject matter expert served as core technical sponsor for major client “go-live” focusing on security and both front- and back-end performance optimization

                                    </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-icon">
                                    <img src="assets/img/timeline_star.svg" alt="">
                                </div>
                                <div class="timeline-content">
                                    <h4>Ernst &amp; Young LLP</h4>
                                    <p>
                                        Project #3 (Dec 2000 – Jul 2002):
                                        Member of the team, designed and developed of Global List Management System (GLMS) based on WebSphere 3.5/4.0, Apache HTTP Server using OOA/OOD.
                                        -	Developed back-end and middle-tier for the end-user and administrator applications utilizing MVC design pattern.
                                        -	Created specifications and implemented EJBs that encapsulated business logic.
                                        -	Developed login authentication module using Lotus Domino 5.0.5 and LDAP.
                                        -	Developed business components responsible for XML/XSLT transformation using Apache Xerces/Xalan.
                                        -	Developed module used for e-mail generation and distribution using Java Mail 1.2.
                                        -	Participated in development of front-end for GLMS based on Internet Explorer 5.5, DHTML, XML/XSLT and JavaScript.
                                        -	Installed and configured WebSphere Application Server 3.5/4.0. Created build and deployment scripts using Apache Ant 1.4.

                                        Project #2 (Jun 2001 – Mar 2002):
                                        Participated in development of Global Business Knowledge System.
                                        -	Developed a set of COM+ objects to facilitate database access using Visual C++, COM+, ADO and SQL.
                                        -	Developed COM+ objects used to transfer error information between enterprise application layers and to store it in Microsoft SQL Server database.
                                        -	Created testing tool effectively used to automation of application testing process.

                                        Project #1 (Feb 2000 – Nov 2000):
                                        Participated in front- and back-end development for the web-based version of enterprise accounting application (TRAX) based on Window NT 4.0 Server and IIS 4.0.
                                        -	Designed and developed set of back-end middle-tier ISAPI DLLs that incorporate business logic for data management and validation using Visual C++, SQL and ODBC connection to Oracle database. ISAPI DLLs use and produce documents in XML format used by back- and front-end software.
                                        -	Created ActiveX control used on web page for access to data on client computers using ATL and WinInet API.
                                        -	Participated in development of front-end for TRAX based on Internet Explorer 5, DHTML and XML.
                                        -	Developed client’s authentication module using JavaScript and Java scriplets.
                                        -	Designed and developed web based administration system for back-end applications management using ADO, ASP, DHTML, XML and JavaScript/VBScript.
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-icon">
                                    <img src="assets/img/timeline_star.svg" alt="">
                                </div>
                                <div class="timeline-content right">
                                    <h4>Bell Atlantic</h4>
                                    <p>
                                        Performed as a team member in development of distributed client for video conferencing Multimedia Call Center (MCC).
                                        -	Designed and developed self-configurable user interface for MCC.
                                        -	Created COM object that implemented internal communication protocol for Call Center based on TCP/IP.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
