[Unit]
Description=Vlad Kirienko web site

[Service]
WorkingDirectory=/home/pi/vkirienko/publish
ExecStart=/home/pi/dotnet/dotnet /home/pi/vkirienko/publish/VKirienko.Web.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=VKirienko-Web
User=pi
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target