<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="temperatureChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Temperature</h4>
                        <p class="card-category">Last observed value <span class="text-success">{{lastTelemetry?.temperature | number:'1.1-1'}} &#8451;</span></p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> last updated {{lastTelemetry?.date | date : 'M/dd/yyyy h:mm a'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="humidityChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Humidity</h4>
                        <p class="card-category">Last observed value <span class="text-success">{{lastTelemetry?.humidity | number:'1.0-0'}} %</span></p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> last updated {{lastTelemetry?.date | date : 'M/dd/yyyy h:mm a'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-chart">
              <div class="card-header card-header-info">
                <div class="ct-chart" id="pressureChart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Pressure</h4>
                <p class="card-category">Last observed value <span class="text-success">{{lastTelemetry?.pressure | number:'1.0-0'}} hPa</span></p>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> last updated {{lastTelemetry?.date | date : 'M/dd/yyyy h:mm a'}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-chart">
              <div class="card-header card-header-rose">
                <div class="ct-chart" id="tvocChart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">TVOC</h4>
                <p class="card-category">Last observed value <span class="text-success">{{lastTelemetry?.tvoc | number:'1.0-0'}}</span></p>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> last updated {{lastTelemetry?.date | date : 'M/dd/yyyy h:mm a'}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-chart">
              <div class="card-header card-header-danger">
                <div class="ct-chart" id="radiationGm10Chart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Radiation (GM-10)</h4>
                <p class="card-category">Last observed value <span class="text-success">{{lastTelemetry?.radiationGm10 | number:'1.0-0'}} cpm</span></p>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> last updated {{lastTelemetry?.date | date : 'M/dd/yyyy h:mm a'}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-chart">
              <div class="card-header card-header-danger">
                <div class="ct-chart" id="radiationGmc500Chart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Radiation (GMC-500+)</h4>
                <p class="card-category">Last observed value <span class="text-success">{{lastTelemetry?.radiationGmc500 | number:'1.0-0'}} cpm</span></p>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> last updated {{lastTelemetry?.date | date : 'M/dd/yyyy h:mm a'}}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
