<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title"></h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <fa-icon [icon]="faEnvelope" class="fa-lg"></fa-icon>&nbsp;
                            <a href="mailto:job@vkirienko.com">job@vkirienko.com</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <fa-icon [icon]="faPhone" class="fa-lg"></fa-icon>&nbsp;
                            email me
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon>&nbsp;
                            <a href="https://linkedin.com/in/vkirienko">linkedin.com/in/vkirienko</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <fa-icon [icon]="faGitSquare" class="fa-lg"></fa-icon>&nbsp;
                            <a href="https://github.com/vkirienko">github.com/vkirienko</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="map"></div>
        </div>
    </div>
</div>
