<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">contacts</i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" style="padding-top:20px">
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <fa-icon [icon]="faEnvelope" class="fa-lg"></fa-icon>&nbsp;
                            <a href="mailto:job@vkirienko.com">job@vkirienko.com</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <fa-icon [icon]="faPhone" class="fa-lg"></fa-icon>&nbsp;
                            email me
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon>&nbsp;
                            <a href="https://linkedin.com/in/vlad-kirienko">linkedin.com/in/vlad-kirienko</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <fa-icon [icon]="faGitSquare" class="fa-lg"></fa-icon>&nbsp;
                            <a href="https://github.com/vkirienko">github.com/vkirienko</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="map" style="width: 1000px; height: 600px"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <!--
                        <i class="material-icons text-danger">warning</i>
                        <a href="#pablo">Get More Space...</a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
