<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <p style="padding-top:20px">I'm Vlad and welcome to my homepage. Some facts about me:</p><br />
                        <ul>
                            <li>I'm so lazy that I host my homepage at home on $10 computer (Raspberry Pi), instead of "hardcoring" <span style="white-space:nowrap">on <fa-icon [icon]="['fab', 'github']"></fa-icon> github</span>, like all the cool guys do</li>
                            <li>I do software professionally&nbsp;starting from ... previous century. Please see <a routerLink="/resume"><fa-icon icon="address-card"></fa-icon> my resume</a>.</li>
                            <li>I came from <fa-icon [icon]="['fab', 'windows']"></fa-icon> Microsoft world, but I'm diving deeper and deeper into the world of <b>opensource</b> and I <fa-icon icon="heart"></fa-icon> it.</li>
                            <li>I am Full stack engineer and I like keeping and developing my skills in all directions: front end, back end and databases. Though I have a bit more passion for the <b>front end</b>.</li>
                            <li>I prefer to work on <fa-icon icon="globe"></fa-icon>&nbsp;<b>web projects (ideally high traffic and distributed)</b>, however I did a lot of windows desktop apps (WPF, WinForms). As a developer my strongest skills right now are <b>C#, ASP.NET MVC, .NET Core, SQL, Angular, Javascript, HTML</b>, but I'd love to master something new, like GoLang, Python, Mobile apps etc... </li>
                            <li>I love learning new stuff (not limited to software development or even tech). I get bored if I don't do it.</li>
                            <li>I have strong experience in project management (Agile, Scrum, Waterfall), using and customizing different tools and platforms (Jira, MS Project, TFS,...).</li>
                            <li>I live in Fort Lee, NJ, which limits my work location to <span style="white-space:nowrap"><b>tri-state area but basically New York City and Jersey City</b></span> </li>
                            <li id="fieldsOfInterest">
                                I have the following <b>fields of interest</b>:<br />
                                <fa-icon icon="star"></fa-icon> Start ups &amp; entrepreneurship &amp; partnership &amp; impact<br />
                                <fa-icon icon="star"></fa-icon> Financial industry - investment markets, algorithmic trading, risk management, quantitative development<br />
                                <fa-icon icon="star"></fa-icon> Web technologies, high traffic customer facing web/mobile apps<br />
                                <fa-icon icon="star"></fa-icon> Leadership &amp; management <br />
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Full-stack software engineer</h6>
                        <h4 class="card-title">Vladimir Kirienko</h4>
                        <p class="card-description">
                            The impossible we do immediately. Miracles require 24-hour notice.
                        </p>
                        <a href="https://linkedin.com/in/vlad-kirienko" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
