<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-tabs card-header-success">
                    <!--
                    <div class="card-icon">
                        <i class="material-icons">flight</i>
                    </div>
                -->
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a mat-button class="nav-link active" href="#flights" data-toggle="tab" (click)="activateTab('flights')">
                                        <i class="material-icons">flight</i>Flights
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#graphs" data-toggle="tab" (click)="activateTab('graphs')">
                                        <i class="material-icons">bar_chart</i>Graphs
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#stats" data-toggle="tab" (click)="activateTab('stats')">
                                        <i class="material-icons">analytics</i>Stats
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content mr-2 ml-2">
                        <div class="tab-pane active" id="flights">
                            <div class="row">
                                <iframe [src]="urlFlights" style="width:100%; height:800px; border:0"></iframe>
                            </div>
                        </div>
                        <div class="tab-pane" id="graphs">
                            <div class="row">
                                <iframe [src]="urlGraphs" style="width:100%; height:800px; border:0"></iframe>
                            </div>
                        </div>
                        <div class="tab-pane" id="stats">
                            <div class="row">
                                <iframe [src]="urlStats" style="width:100%; height:800px; border:0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="card-footer">
                </div>
                    -->
            </div>
        </div>
    </div>
</div>
